#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	if [ -F "/opt/vc/bin/vcgencmd" ]
	then
		dotnet publish -c Release --self-contained -r linux-arm
	else
		dotnet publish -c Release --self-contained -r linux-x64
	fi
	# auto-build disabled

override_dh_auto_install:
	# install application
	mkdir -p debian/glimmr/opt/glimmrtv/glimmr
	echo installing
	cp -R bin/Release/net5.0/linux-x64/* debian/glimmr/opt/glimmrtv/glimmr
	chmod -R 755 debian/glimmr/opt/glimmrtv/glimmr
	# auto-install disabled

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -X/libcrypto/ -X/libssl/ -X/ liblttng-ust/ -X/libgit2/