.idea/*
.vs/*
*/bin/*
*/obj/*
./bin/*
src/bin/*
src/obj/*
src/Glimmr/bin/*
src/Glimmr/obj/*
src/GlimmrTray/bin/*
src/GlimmrTray/obj/*
src/Image2Scene/bin/*
src/Image2Scene/obj/*
src/Glimmr-Android/*
packages/*
store.db*
CodeGraphData/*
log/*
backup/*
*.log
*.bk
wwwroot/img/_preview_input.jpg
wwwroot/img/_preview_output.jpg
copyPi.bat
store-log.db
script/publish_pi2.bat
src/wwwroot/img/_preview_input.jpg
src/wwwroot/img/_preview_output.jpg
