.idea/*
.vs/*
bin/*
obj/*
huedream.ini
*.sln
huedream.json
huedream.json.bk
store.json
store.json.bk
CodeGraphData/*
log/*
backup/*
*.log
*.bk
wwwroot/img/_preview_input.jpg
wwwroot/img/_preview_output.jpg
store.json.bak
copyPi.bat
publish_pi.bat
