.idea/*
.vs/*
bin/*
obj/*
src/bin/*
src/obj/*
huedream.ini
*.sln
huedream.json
huedream.json.bk
store.json*
store.db*
CodeGraphData/*
log/*
backup/*
*.log
*.bk
wwwroot/img/_preview_input.jpg
wwwroot/img/_preview_output.jpg
copyPi.bat
publish_pi.bat
store-log.db
script/publish_pi2.bat
