[Unit]
Description=GlimmrTV

[Service]
Type=simple
RemainAfterExit=yes
StandardOutput=tty
Restart=always
User=root
WorkingDirectory=/home/glimmrtv/glimmr/bin
ExecStart=sudo /opt/dotnet/dotnet /usr/local/bin/Glimmr.exe
KillMode=process

[Install]
WantedBy=multi-user.target