@{
    ViewData["Title"] = "Home Page";
}

    <div class="accordion wrapper" id="accordion">
        <h1>HueDream Config</h1>
        <form method="post" action="./api/HueData">            
            <div class="card bg-dark text-white">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            Dreamscreen
                        </button>
                    </h2>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="ds_ip">Dreamscreen IP</label>
                            <input type="text" class="form-control" id="ds_ip" name="ds_ip" placeholder="0.0.0.0">
                        </div>
                        <button class="btn btn-secondary" id="ds_find">Find Dreamscreen</button>
                    </div>
                </div>
            </div>

            <div class="card bg-dark text-white">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            Hue
                        </button>
                    </h2>
                </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="hue_ip">Hue Bridge IP</label>
                            <input type="text" class="form-control" id="hue_ip" name="hue_ip" placeholder="0.0.0.0">
                        </div>
                        <div class="form-group">
                            <label for="hue_auth">Hue Bridge Authorization</label>
                            <input type="text" class="form-control" id="hue_auth" placeholder="Unauthorized" disabled>
                            <button class="btn btn-secondary" id="hb_authorize">Authorize</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card bg-dark text-white">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="true" aria-controls="collapseFour">
                            Sync
                        </button>
                    </h2>
                </div>

                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-group">
                            <button class="btn btn-secondary" id="load_lights">Load Lights</button>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="hue_sync" name="hue_sync">
                                <label class="form-check-label" for="hue_sync">Sync DS and Hue</label>
                            </div>
                        </div>
                        <div class="light-preview" id="lightPreview">
                            <div class="lightRegion">
                                7
                            </div>
                            <div class="lightRegion">
                                6
                            </div>
                            <div class="lightRegion">
                                5
                            </div>
                            <div class="lightRegion">
                                4
                            </div>
                            <div class="lightRegion">
                                3
                            </div>
                            <div class="lightRegion">
                                8
                            </div>
                            <div class="centerRegion">
                            </div>
                            <div class="centerRegion">
                            </div>
                            <div class="centerRegion">
                            </div>

                            <div class="lightRegion">
                                2
                            </div>


                            <div class="lightRegion">
                                9
                            </div>
                            <div class="lightRegion">
                                10
                            </div>
                            <div class="lightRegion">
                                11
                            </div>
                            <div class="lightRegion">
                                0
                            </div>
                            <div class="lightRegion">
                                1
                            </div>
                        </div>
                        <div class="form-group row" id="lightGroup">

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>   
