@{
    ViewData["Title"] = "Home Page";
}

    <div class="accordion wrapper" id="accordion">
        <h1>HueDream Config</h1>
        <form method="post" action="./api/HueData" id="settingsForm">            
            <div class="card bg-dark text-white">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            Dreamscreen
                        </button>
                    </h2>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="iconWrap col-4">
                                    <img id="dsIcon" src="~/img/sidekick_icon.png" />
                                </div>
                                <div id="dsData" class="col-8">
                                    <div class="row">
                                        <span class="purdy">Name:</span><span id="dsName"></span>
                                    </div>
                                    <div class="row">
                                        <span class="purdy">Group:</span><span id="dsGroupName"></span>
                                    </div>
                                    <div class="row">
                                        <span class="purdy">Type:</span><span id="dsType"></span>
                                    </div>
                                    <div class="row">
                                        <span class="purdy">Mode:</span><span id="dsMode"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ds_ip">Dreamscreen IP</label>
                            <input type="text" class="form-control" id="dsIp" readonly placeholder="0.0.0.0">
                        </div>
                        <div class="form-group">
                            <label for="ds_ip">Emulation Type</label>
                            <select class="form-control bg-light text-dark dsType" id="dsType" name="ds_type">
                                <option value="SideKick">Sidekick</option>
                                <option value="Connect">Connect</option>
                            </select>
                            <small id="typeHelp" class="form-text">WARNING: Connect will only work with the <a href="https://github.com/d8ahazard/HueDream/raw/master/DreamScreen%202.2.2.apk">beta version</a> of the DS app.</small>
                        </div>
                        <button class="btn btn-secondary active" id="ds_find" OnClientClick="return false;">Find Dreamscreen</button>
                    </div>
                </div>
            </div>

            <div class="card bg-dark text-white">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            Hue
                        </button>
                    </h2>
                </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="hue_ip">Hue Bridge IP</label>
                            <input type="text" class="form-control" id="hueIp" readonly placeholder="0.0.0.0">
                        </div>
                        <div class="form-group">
                            <label for="hue_auth">Hue Bridge Authorization</label>
                            <input type="text" class="form-control" id="hueAuth" placeholder="Unauthorized" disabled>
                            <button class="btn btn-secondary" id="hue_authorize" OnClientClick="return false;">Authorize</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card bg-dark text-white">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-light" type="button" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="true" aria-controls="collapseFour">
                            Sync
                        </button>
                    </h2>
                </div>

                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body" id="mapSel">
                        <div class="previewWrap" id="previewWrap">
                            <div class="light-preview" id="lightPreview">
                                <div id="regions">
                                    <div class="row sectorRow">
                                        <div class="lightRegion col" id="sector7">
                                            8
                                        </div>
                                        <div class="lightRegion col" id="sector6">
                                            7
                                        </div>
                                        <div class="lightRegion col" id="sector5">
                                            6
                                        </div>
                                        <div class="lightRegion col" id="sector4">
                                            5
                                        </div>
                                        <div class="lightRegion col" id="sector3">
                                            4
                                        </div>
                                    </div>
                                    <div class="row sectorRow">
                                        <div class="lightRegion col" id="sector8">
                                            9
                                        </div>
                                        <div class="centerRegion col">
                                        </div>
                                        <div class="centerRegion col">
                                        </div>
                                        <div class="centerRegion col">
                                        </div>

                                        <div class="lightRegion col" id="sector2">
                                            3
                                        </div>
                                    </div>
                                    <div class="row sectorRow">
                                        <div class="lightRegion col" id="sector9">
                                            10
                                        </div>
                                        <div class="lightRegion col" id="sector10">
                                            11
                                        </div>
                                        <div class="lightRegion col" id="sector11">
                                            12
                                        </div>
                                        <div class="lightRegion col" id="sector0">
                                            1
                                        </div>
                                        <div class="lightRegion col" id="sector1">
                                            2
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="dsGroup">Entertainment Group:</label>
                            <select id="dsGroup" name="dsGroup" class="form-control bg-light text-dark dsGroup">
                            </select>
                        </div>                        
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-info active" OnClientClick="return false;">Submit</button>
        </form>
    </div>   
