@{
    ViewData["Title"] = "Home Page";
}

    <div class="accordion wrapper" id="accordion">
        <h1>HueDream Config</h1>
        <form method="post" action="./api/HueData" id="settingsForm">            
            <div class="card bg-dark text-white">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            Dreamscreen
                        </button>
                    </h2>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="ds_ip">Dreamscreen IP</label>
                            <input type="text" class="form-control" id="dsIp" readonly placeholder="0.0.0.0">
                        </div>
                        <div class="form-group">
                            <label for="ds_ip">Emulation Type</label>
                            <select class="form-control" id="dsType" name="ds_type">
                                <option value="SideKick">Sidekick</option>
                                <option value="Connect">Connect</option>
                            </select>
                            <small id="typeHelp" class="form-text text-muted">WARNING: Connect will only work with the beta version of the DS app.</small>
                        </div>
                        <button class="btn btn-secondary" id="ds_find" OnClientClick="return false;">Find Dreamscreen</button>
                    </div>
                </div>
            </div>

            <div class="card bg-dark text-white">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            Hue
                        </button>
                    </h2>
                </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="hue_ip">Hue Bridge IP</label>
                            <input type="text" class="form-control" id="hueIp" readonly placeholder="0.0.0.0">
                        </div>
                        <div class="form-group">
                            <label for="hue_auth">Hue Bridge Authorization</label>
                            <input type="text" class="form-control" id="hueAuth" placeholder="Unauthorized" disabled>
                            <button class="btn btn-secondary" id="hue_authorize" OnClientClick="return false;">Authorize</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card bg-dark text-white">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="true" aria-controls="collapseFour">
                            Sync
                        </button>
                    </h2>
                </div>

                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="dsGroup">Entertainment Group</label>
                            <select id="dsGroup" name="dsGroup">

                            </select>
                        </div>
                        <div class="light-preview" id="lightPreview">
                            <div class="lightRegion">
                                7
                            </div>
                            <div class="lightRegion">
                                6
                            </div>
                            <div class="lightRegion">
                                5
                            </div>
                            <div class="lightRegion">
                                4
                            </div>
                            <div class="lightRegion">
                                3
                            </div>
                            <div class="lightRegion">
                                8
                            </div>
                            <div class="centerRegion">
                            </div>
                            <div class="centerRegion">
                            </div>
                            <div class="centerRegion">
                            </div>

                            <div class="lightRegion">
                                2
                            </div>


                            <div class="lightRegion">
                                9
                            </div>
                            <div class="lightRegion">
                                10
                            </div>
                            <div class="lightRegion">
                                11
                            </div>
                            <div class="lightRegion">
                                0
                            </div>
                            <div class="lightRegion">
                                1
                            </div>
                        </div>
                        <div class="form-group row" id="lightGroup">

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" OnClientClick="return false;">Submit</button>
        </form>
    </div>   
