@{
    ViewData["Title"] = "Home Page";
}
<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
<header class="bmd-layout-header">
    <div class="navbar navbar-dark bg-dark text-light">
        <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s2">
            <span class="sr-only">Toggle drawer</span>
            <i class="material-icons">menu</i>
        </button>
        <ul class="nav navbar-nav">
            <li class="nav-item" id="navTitle"></li>
        </ul>
    </div>
</header>
<div id="dw-s2" class="bmd-layout-drawer bg-dark text-light">
    <a class="navbar-brand">
        <img src="~/img/huedream_logo.png" id="headerLogo"/>
    </a>
    <ul class="dev-group nav nav-list" id="devGroup">

    </ul>
    <div class="settings-group btn-group">
        <div class="btn">
            <img class="settingIcon" id="editGroups" src="./img/lock_icon.png"/>
        </div>
        <div class="btn">
            <img class="settingIcon" id="showSettings" src="./img/settings_icon.png"/>
        </div>
        <div class="btn">
            <img class="settingIcon" id="refreshDevices" src="./img/add_icon.png"/>
        </div>
    </div>
</div>

<main class="bmd-layout-content">
    <div class="">
        <div class="bg-dark text-white hidden" id="dsCard">
            <div id="dsPane">
                <div class="card-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="form-group col-12 col-lg-10">
                                <div class="row justify-content-center">
                                    <div id="iconWrap">
                                    </div>
                                    <div id="dsData" class="">
                                        <div id="dsName" onclick="listenForDoubleClick(this);" onblur="this.contentEditable=false;"></div><br/>
                                        <span id="dsIp"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="btn-group-lg">
                                <div class="btnWrap">
                                    <div class="btn btn-secondary modeBtn bmd-btn-fab" data-mode="0" id="mode0">
                                        <img class="modeIcon" src="~/img/mode_off_icon.png" alt=""/>
                                    </div>
                                    <span class="modeLabel">Off</span>
                                </div>
                                <div class="btnWrap">
                                    <div class="btn btn-secondary modeBtn bmd-btn-fab" data-mode="1" id="mode1">
                                        <img class="modeIcon" src="~/img/mode_video_icon.png" alt=""/>
                                    </div>
                                    <span class="modeLabel">Video</span>
                                </div>
                                <div class="btnWrap">
                                    <div class="btn btn-secondary modeBtn bmd-btn-fab" data-mode="2" id="mode2">
                                        <img class="modeIcon" src="~/img/mode_audio_icon.png" alt=""/>
                                    </div>
                                    <span class="modeLabel">Music</span>
                                </div>
                                <div class="btnWrap">
                                    <div class="btn btn-secondary modeBtn bmd-btn-fab" data-mode="3" id="mode3">
                                        <img class="modeIcon" src="~/img/mode_ambient_icon.png" alt=""/>
                                    </div>
                                    <span class="modeLabel">Ambient</span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8 col-md-6 col-xl-4">
                                <input class="mapBrightness form-control devBrightness" type="range" id="dsBrightness" name="dsBrightness" min="0" max="100" value="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-dark text-white hidden" id="hueCard">
            <div id="huePane">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div id="linkBtn">
                            <div id="linkImg" class="unlinked">
                                <div class="linkImg"></div>
                                <small id="hueIp" class="linkIp"></small>
                                <div id="circleBar"></div>
                                <small id="linkHint" class="linkHint">Click here to link bridge</small>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="previewWrap" id="previewWrap">
                            <div class="light-preview" id="lightPreview">
                                <div id="regions">
                                    <div class="row sectorRow">
                                        <div class="lightRegion col" id="sector6">
                                            7
                                        </div>
                                        <div class="lightRegion col" id="sector5">
                                            6
                                        </div>
                                        <div class="lightRegion col" id="sector4">
                                            5
                                        </div>
                                        <div class="lightRegion col" id="sector3">
                                            4
                                        </div>
                                        <div class="lightRegion col" id="sector2">
                                            3
                                        </div>
                                    </div>
                                    <div class="row sectorRow">
                                        <div class="lightRegion col" id="sector7">
                                            8
                                        </div>
                                        <div class="centerRegion col">
                                        </div>
                                        <div class="centerRegion col">
                                        </div>
                                        <div class="centerRegion col">
                                        </div>

                                        <div class="lightRegion col" id="sector1">
                                            2
                                        </div>
                                    </div>
                                    <div class="row sectorRow">
                                        <div class="lightRegion col" id="sector8">
                                            9
                                        </div>
                                        <div class="lightRegion col" id="sector9">
                                            10
                                        </div>
                                        <div class="lightRegion col" id="sector10">
                                            11
                                        </div>
                                        <div class="lightRegion col" id="sector11">
                                            12
                                        </div>
                                        <div class="lightRegion col" id="sector0">
                                            1
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-12 col-lg-6">
                                <div class="form-group">
                                    <label for="dsGroup">Entertainment Group:</label>
                                    <select id="dsGroup" name="dsGroup" class="form-control bg-light text-dark dsGroup">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center" id="mapSel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-dark text-white hidden" id="nanoCard">
            <div id="nanoPane">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div id="nanoBtn">
                            <div id="nanoImg" class="unlinked">
                                <div class="linkImg"></div>
                                <small id="nanoIp" class="linkIp"></small>
                                <div id="nanoBar"></div>
                                <small id="nanoHint" class="linkHint">Click here to link Nanoleaf</small>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center controlRow">
                        <div class="checkbox mr-3 text-white">
                        <label class="text-white">
                          <input type="checkbox" id="nanoFlipHorizontal" data-orientation="h" class="nanoFlip"> Flip Horizontally
                        </label>
                      </div>
                      <div class="checkbox text-white">
                          <label class="text-white">
                            <input type="checkbox" id="nanoFlipVertical" data-orientation="v" class="nanoFlip"> Flip Vertically
                          </label>
                        </div>
                    </div>
                    <div class="row previewRow" id="nanoContainer">
                        <div id="canvasDiv">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-dark text-white hidden" id="settingsCard">
            <div id="settingsPane">
                <div class="card-body container">
                <div class="row justify-content-center">
                    <h3>Capture Mode</h3>
                </div>
                    <div class="row justify-content-center">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group" id="modeBar">
                                <button type="button" class="btn btn-secondary capModeBtn" data-target="dsCapPane" id="dsCapPaneBtn">
                                    <img src="img/cap_mode_dreamscreen.png" alt="Dreamscreen Capture Mode"/>
                                </button>
                                <button type="button" class="btn btn-secondary capModeBtn" data-target="cameraCapPane" id="cameraCapPaneBtn">
                                    <img src="img/cap_mode_camera.png" alt="Camera Capture Mode"/>
                                </button>
                                <button type="button" class="btn btn-secondary capModeBtn" data-target="hdmiCapPane" id="hdmiCapPaneBtn">
                                    <img src="img/cap_mode_hdmi.png" alt="HDMI Capture Mode"/>
                                </button>
                                <button type="button" class="btn btn-secondary capModeBtn" data-target="screenCapPane" id="screenCapPaneBtn">
                                    <img src="img/cap_mode_screen.png" alt="Screen Capture Mode"/>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-6">
                        <div id="dsCapPane" class="capPane">
                            <div class="form-group bmd-form-group">
                                <label for="dsIpSelect" class="bmd-label-floating">Target DreamScreen: </label>
                                <select id="dsIpSelect" class="form-control"></select>
                            </div>
                        </div>
                        <div id="hdmiCapPane" class="capPane">
                            <div class="form-group bmd-form-group">
                                <div>HDMI</div>
                            </div>
                        </div>
                        <div id="cameraCapPane" class="capPane">
                            <div class="form-group bmd-form-group">
                                <label for="dsIpSelect" class="bmd-label-floating">Camera Type: </label>
                                <select id="cameraType" class="form-control">
                                    <option value="0">Raspberry Pi Camera</option>
                                    <option value="1">USB Camera</option>
                                </select>
                            </div>
                        </div>
                            <div id="screenCapPane" class="capPane">
                                <div class="form-group bmd-form-group">
                                    <label for="dsIpSelect" class="bmd-label-floating">Monitor selection: </label>
                                    <select id="monitorSelection" class="form-control">
                                        <option value="0">Stub monitor 1</option>
                                        <option value="1">Stub monitor 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <h3>LED Count</h3>
                    </div>
                    <div class="row justify-content-center" id="ledPreview">
                        <div class="previewRow col-12 col-md-6" id="ledContainer">
                            <div id="ledDiv">
                                <img src="img/start_tv.png" alt="led_size" id="ledImg"/>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="form-group bmd-form-group col-12 col-md-6">
                            <label for="vCount" class="bmd-label-floating">Top/Bottom Count:</label>
                            <input type="text" class="form-control ledCount" id="vCount" data-type="v">
                            <span class="bmd-help">Enter the number of LEDs on the top and bottom of the screen.</span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="form-group bmd-form-group col-12 col-md-6">
                            <label for="hCount" class="bmd-label-floating">Left/Right Count:</label>
                            <input type="text" class="form-control ledcount" id="hCount" data-type="h">
                            <span class="bmd-help">Enter the number of LEDs on the left and right sides of the screen.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</div>