:root {
    --bg-primary: #181818 !important;
    --bg-secondary: #212121 !important;
    --fg-primary: #cfcfcf !important;
    --fg-secondary: #9f9f9f !important;
}


.card {
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(124, 124, 124, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px var(--bg-secondary) !important;
}


