:root {
    --bg-primary: #181818 !important;
    --bg-secondary: #212121 !important;
    --bg-secondary-alpha: #212121ab!important;
    --fg-primary: #cfcfcf !important;
    --fg-secondary: #9f9f9f !important;    
}