/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.hidden {
    display: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 577px) {
    .previewWrap {
        width: 100% !important;
        margin: 0 auto !important;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

#wledDivSectored {
    display: none;
}

#wledDivSubSectored {
    display: none;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    background-color:#333333;
}

body {
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.toggle-group, .toggle-handle {
    border: 1px solid black;
}

.arrowBtn {
    padding-top: 6% !important;
    margin: 15px;
}

.prevImg {
    width: 100%;
}

#ledPreview {

}

#ledImg {
    margin: auto;
    width: 90%;
}

.form-control {
    color: lightgray;
}

.bmd-label-floating {
    color: gray;
}

.bmd-help {
    color: white !important;
}

.is-focused [class^='bmd-label'], .is-focused [class*=' bmd-label'], .is-focused [class^='bmd-label'], .is-focused [class*=' bmd-label'] {
    color: #5b57e6;
}

.previewRow {
    border: 1px black solid;
}

.controlRow {
    height: 100px;
}

.previewWrap {
    width: 50%;
    margin: 25px 25%;

}

.linkRow, .modeRow {
    padding-top: 25px;
    padding-bottom: 25px;
}

.light-preview {
    background-image: url("../img/sectoring_tv.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    min-width: 270px;
    height: 0;
    padding-top: 67.8764%;
}

#ambientDiv, #ambientColorDiv, #ambientSceneDiv {
    display: none;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.showBtn {
    background-size: contain;
    width: 75px;
    height: 75px;
    display: inline-block;
    cursor: pointer;
}

.showBtn.selected {
    border: 2px black solid;
}

#ambientSelectionDiv {
    margin: 0 auto;
    text-align: center;
}

.pickr {
    display: none !important;
}

.pcr-app.visible {
    margin: 0 auto;
}

#nanoSectors {
    background-image: url("../img/sectoring_tv.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    min-width: 270px;
    height: 0;
    padding-top: 67.8764%;
}

#nanoPreview {
    background-image: url("../img/sectoring_tv.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 105%;
    height: 0;
    padding-top: 67.8764%; /* (img-height / img-width * container-width) */
    text-align: center;
    /* (853 / 1280 * 100) */
}

#nanoPreviewWrap {
    width: 95%;
}

background {
    background: #ffffff;
}

.wrapper {
    width: 80%;
    height: 80%;
    margin: 20px auto;
    text-align: center;
}

.regions, .regionsV2 {
    margin-bottom: 25px;
    position: absolute;
    top: -3%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 6%;
}

#settingsBack {
    display: none;
}

.ds2 {
    display: none;
}

.ds1 {
    cursor: pointer;
}

.ds1 > div:hover {
    color: grey;
}


.devSaturation {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.devSaturation[data-color="r"] {
    background: #ff0000;    
}

.devSaturation[data-color="g"] {
    background: #00ff00;
}

.devSaturation[data-color="b"] {
    background: #0000ff;
}

.btn.selected {
    background-color: dimgrey;
    color: white;
}

.switch {
    position: relative;
    display: inline;
    float: right;
    width: 60px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 6px;
     bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.border, .border-left {
    padding: 10px;
    border: 1px solid #dee2e6 !important;
}

.border > h5, .border > label {
    text-align: left;
}

.border > .btn-group {
    text-align: center;
}

.border-left {
    text-align: left;
}

.border-left > h5 {
    width: 75%;
    display: inline-block;
}

.hintbtn {
    width: 10px;
    height: 10px;
    cursor: pointer;
    position:relative;
    top: 6px;
}

.hint {
    display: none;
    text-align: center;
}

.hintbtn > .material-icons {
    
}

.sectorRow, .nanoSectorRow, .lightSectorRow, .lifxSectorRow {
    height: 33.33%;
}

.sectorRowV2, .nanoSectorRowV2, .lightSectorRowV2, .lifxSectorRowV2 {
    height: 16.665%;
}

.sectorRegion {
    background-image: url("../img/sector_unchecked_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    color: white;
}

.sectorRegion.checked {
    background-image: url("../img/sector_checked_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sectorRegionV2 {
    background-image: url("../img/sectorV2_unchecked_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    color: white;
}

.sectorRegionV2.checked {
    background-image: url("../img/sectorV2_checked_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

select {
    text-align-last: center;
    padding-right: 29px;
    text-indent: 5px;
}

.bmd-label-static {
    color: white !important;
}

#dsData, #lifxData {
    padding-top: 15px;
    font-size: 16px;
}


#dsName, #lifxName {
    font-size: 30px;
}

#dsIp, #lifxIp {
    font-size: 14px;
    top: -35px;
    position: relative;
}


.purdy {
    padding-right: 15px;
}

.modeLabel {
    position: absolute;
    bottom: -19px;
    left: -1px;
    width: 100%;
    text-align: center;
}

.btnWrap {
    display: inline-block;
    position: relative;
}

.mapBrightness {
    margin-top: 25px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: 0;
    z-index: 1;
    width: 11px;
    height: 11px;
    cursor: pointer;
    -webkit-box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #89c3eb), color-stop(100%, #d5ebfb));
}

input[type="range"]:hover ~ #rangevalue,
input[type="range"]:active ~ #rangevalue {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: -75px;
}

#lifxIcon {
    background-image: url("../img/lifx_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


#iconWrap, #lifxIcon {
    width: 80px;
    height: 80px;
    margin: 15px;
}

#iconWrap.group {
    background-image: url("../img/group_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#iconWrap.Connect {
    background-image: url("../img/connect_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#iconWrap.SideKick {
    background-image: url("../img/sidekick_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#iconWrap.Dreamscreen {
    background-image: url("../img/dreamscreen_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#iconWrap.DreamscreenSolo {
    background-image: url("../img/dreamscreensolo_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#iconWrap.Dreamscreen4K {
    background-image: url("../img/dreamscreen4k_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


#linkBtn, #nanoBtn {
    cursor: pointer;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
}

#linkImg {
    background-image: url("../img/hue_bridge_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 150px;
    position: relative;
    z-index: 6;

}


#nanoImg {
    background-image: url("../img/nanoleaf_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 150px;
    position: relative;
    z-index: 6;
}

.linkImg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 30px;
    width: 30px;
}

.linked .linkImg {
    background-image: url("../img/check_overlay.png");
}

.unlinked .linkImg {
    background-image: url("../img/x_overlay.png");
}

.linking .linkImg {
    background-image: url("../img/link_overlay.png");
}

.linkIp {
    position: absolute;
    top: -20px;
    z-index: 7;
    width: 100%;
    text-align: center;
    color: white;
}

.linkHint {
    position: absolute;
    width: 110%;
    text-align: center;
    left: -5%;
    bottom: -25px;
    z-index: 7;
    color: white;
}



.settingBtn.active {
    background-color: white;
}

.center {
    text-align: center;
}

#circleBar {
    margin: auto;
    width: 44px;
    height: 44px;
    top: 54px;
    left: 53px;
    position: absolute;
    z-index: 5;
}

.modeGroup {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.modeBtn, .dsModeBtn {
    border: 1px gray solid;
    border-radius: 8px;
    cursor: pointer;
    width: 3.3rem !important;
    min-width: 3.3rem !important;
    height: 3.3rem !important;
}

.capModeBtn, .capModeBtn img {
    width: 75px;
    height: 75px;
    padding: 0;
    margin: 0;
}

.btn.settingsBtn {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 110px;
    right: 25px;
    background-image: url("../img/settings_icon.png");
    background-size: contain;
}

.btn.modeBtn.active, .btn.settingsBtn.active, .btn.dsModeBtn.active {
    background-color: #0006c7 !important;
}

.btn.modeBtn:hover, .btn.settingsBtn:hover, .btn.dsModeBtn:hover {
    background-color: #7a7fff !important;
}


#modeRow {
    height: 50px;
}

.modeIcon {
    width: 85%;
    padding-top: 7%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-toggler {
    z-index: 1;
}

#headerLogo {
    height: 40px;
    width: 100%;
}

.bmd-layout-header {
    height: 54px !important;
}

.navbar-brand {
    padding-top: 5px;
}

.delSel, #linkBtn, #nanoBtn {
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.devIcon, .settingIcon {
    width: 30px;
    height: 30px;
}


.devName {
    font-size: 16px;
    padding-left: 10px;
}

.spacer {
    font-size: 20px;
    padding-left: 10px;
    width: 100%;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.devSelect, .dev-group, .nav-header {
    width: 100%;
}

.dev-group {
    padding-top: 10px;
    border-top: 1px black solid;
}

.groupList {
    list-style: none;
}

.groupHeader, .devSelect {
    padding-top: 5px;
    padding-bottom: 5px;
}

#dw-s2 {
    padding-left: 15px;
    position: fixed;
    overflow: hidden;
    height: 100%;
    z-index: 10;
}

.settings-group {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.navHeader, .groupHeader, .devSelect {
    cursor: pointer;
}

.bmd-layout-backdrop.in {
    height: 100%;
    position: fixed;
}

.canvasDiv {
    height: 100px;
    width: 100px;
}

#nanoContainer {
    min-height: 250px;
}

#clickMapLabel {
    font-size: 30px;
    font-size: 4vw;
}

#nanoCanvas {
    position: absolute;
    z-index: 10;
}

.container-wide {
    max-width: 100%;
    width: 100%;
}
