.card {
    width: 18rem;
}

.deviceIcon {
    width: 60px;
    height: 60px;
}

.settingBtn {
    width: 60px;
}

.fs-1 {
    font-size: 5rem;
}

.statIcon {
    position: relative;
    top: 5px;
}

.btn-clear.active {
    color: white;
    background-color: black;
}

.btn-clear.active.dark {

}