@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Hotness</title>
</head>
<body>
<div class="main">
<nav class="myNav navbar-light bg-light fixed-top" id="mainNav">
    <div class="myNav container-fluid">
        <div class="btn-group btn-group-lg myNav">
            <div class="btn btn-clear modeBtn" data-mode="0" data-toggle="tooltip" data-placement="top" title="Off">
                <span class="material-icons">power_off</span>
            </div>
            <div class="btn btn-clear modeBtn" data-mode="1" data-toggle="tooltip" data-placement="top" title="Video">
                <span class="material-icons">tv</span>
            </div>
            <div class="btn btn-clear modeBtn" data-mode="2" data-toggle="tooltip" data-placement="top" title="Audio">
                <span class="material-icons">music_note</span>
            </div>
            <div class="btn btn-clear modeBtn" data-mode="4" data-toggle="tooltip" data-placement="top" title="AudioVideo">
                <span class="material-icons">music_video</span>
            </div>
            <div class="btn btn-clear modeBtn" data-mode="3" data-toggle="tooltip" data-placement="top" title="Ambient">
                <span class="material-icons">color_lens</span>
            </div>
            <div class="btn btn-clear modeBtn" data-mode="5" data-toggle="tooltip" data-placement="top" title="Streaming">
                <span class="material-icons">sensors</span>
            </div>
        </div>
        <div class="btn-group btn-group-lg myNav float-right">
            <div class="btn btn-clear btn-lg btn-offset mainSettings">
                <span class="material-icons">settings_applications</span>
            </div>
            <div class="btn btn-clear btn-lg btn-offset d-none" id="closeBtn">
                <span class="material-icons">arrow_left</span>
            </div>
        </div>
    </div>

</nav>
<div class="bg-dark hide container-fluid" id="ambientNav">
    <div class="row">
        <div class="col-6 row">
            <div class="col-2">
                <label class="form-label">Ambient Scene</label>    
            </div>
            <div class="col-10">
                <select class="form-control" data-property="AmbientShow" data-object="SystemData" id="AmbientShow">
                    
                </select>    
            </div>
            
        </div>
        <div class="col-6 row">
            <div class="col-2">
                <label class="form-label">
                    Ambient color
                </label>
            </div>
            <div class="col-10">
                <div class="pickrBtn form-control"></div>    
            </div>
        </div>
    </div>
</div>
<div id="mainContent">
<div class="row justify-content-center" id="cardRow">

</div>
<div class="row justify-content-center d-none" id="settingsRow">
<div class="col-12">
<div class="card" id="mainSettingsCard" aria-labelledby="mainSettingsCard" data-backdrop="false" aria-hidden="true">
<div class="card-content">
<div class="card-dialog">
<div class="card-header">
    <h5 class="card-title" id="settingsTitle">Settings</h5>
</div>
<div class="card-body">
<div class="container-fluid">
<ul class="nav nav-tabs" id="settingsTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#mainTab" role="tab" aria-controls="home" aria-selected="true">Main</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#audioTab" role="tab" aria-controls="profile" aria-selected="false">Audio</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#systemTab" role="tab" aria-controls="contact" aria-selected="false">System</a>
    </li>
</ul>
<div class="tab-content" id="settingsContent">
<div class="tab-pane fade show active" id="mainTab" role="tabpanel" aria-labelledby="main-tab">
<div class="container-fluid">
<!-- System prefs -->
<div class="row border justify-content-center pb-5">
    <div class="col-12 headerCol">General</div>
    <div class="col-12 col-md-6 col-xl-3 justify-content-center form-group">
        <label class="form-label">System Control</label>
        <div class="btn-group form-control">
            <div class="btn btn-lg btn-clear controlBtn" data-action="shutdown" data-bs-toggle="tooltip" data-bs-placement="top" title="Shutdown">
                <span class="material-icons">power_settings_new</span>
            </div>
            <div class="btn btn-lg btn-clear controlBtn" data-action="reboot" data-bs-toggle="tooltip" data-bs-placement="top" title="Reboot">
                <span class="material-icons">settings_power</span>
            </div>
            <div class="btn btn-lg btn-clear controlBtn" data-action="restart" data-bs-toggle="tooltip" data-bs-placement="top" title="Restart Glimmr TV Service">
                <span class="material-icons">sync</span>
            </div>
            <div class="btn btn-lg btn-clear controlBtn" data-action="update" data-bs-toggle="tooltip" data-bs-placement="top" title="Update Glimmr TV">
                <span class="material-icons">system_update_alt</span>
            </div>
        </div>
    </div>

    <!-- Time zone -->
    <div class="col-12 col-md-6 col-xl-3 align-self-center form-group">
        <label>Time Zone</label>
        <select name="timezone" data-object="SystemData" data-property="TimeZone" class="systemSetting form-control">
            <option></option>
            <option value="Etc/GMT+12">(GMT-12:00) International Date Line West</option>
            <option value="Pacific/Midway">(GMT-11:00) Midway Island, Samoa</option>
            <option value="Pacific/Honolulu">(GMT-10:00) Hawaii</option>
            <option value="US/Alaska">(GMT-09:00) Alaska</option>
            <option value="America/Los_Angeles">(GMT-08:00) Pacific Time (US & Canada)</option>
            <option value="America/Tijuana">(GMT-08:00) Tijuana, Baja California</option>
            <option value="US/Arizona">(GMT-07:00) Arizona</option>
            <option value="America/Chihuahua">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
            <option value="US/Mountain">(GMT-07:00) Mountain Time (US & Canada)</option>
            <option value="America/Managua">(GMT-06:00) Central America</option>
            <option value="US/Central">(GMT-06:00) Central Time (US & Canada)</option>
            <option value="America/Mexico_City">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
            <option value="Canada/Saskatchewan">(GMT-06:00) Saskatchewan</option>
            <option value="America/Bogota">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
            <option value="US/Eastern">(GMT-05:00) Eastern Time (US & Canada)</option>
            <option value="US/East-Indiana">(GMT-05:00) Indiana (East)</option>
            <option value="Canada/Atlantic">(GMT-04:00) Atlantic Time (Canada)</option>
            <option value="America/Caracas">(GMT-04:00) Caracas, La Paz</option>
            <option value="America/Manaus">(GMT-04:00) Manaus</option>
            <option value="America/Santiago">(GMT-04:00) Santiago</option>
            <option value="Canada/Newfoundland">(GMT-03:30) Newfoundland</option>
            <option value="America/Sao_Paulo">(GMT-03:00) Brasilia</option>
            <option value="America/Argentina/Buenos_Aires">(GMT-03:00) Buenos Aires, Georgetown</option>
            <option value="America/Godthab">(GMT-03:00) Greenland</option>
            <option value="America/Montevideo">(GMT-03:00) Montevideo</option>
            <option value="America/Noronha">(GMT-02:00) Mid-Atlantic</option>
            <option value="Atlantic/Cape_Verde">(GMT-01:00) Cape Verde Is.</option>
            <option value="Atlantic/Azores">(GMT-01:00) Azores</option>
            <option value="Africa/Casablanca">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
            <option value="Etc/Greenwich">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
            <option value="Europe/Amsterdam">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
            <option value="Europe/Belgrade">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
            <option value="Europe/Brussels">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
            <option value="Europe/Sarajevo">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
            <option value="Africa/Lagos">(GMT+01:00) West Central Africa</option>
            <option value="Asia/Amman">(GMT+02:00) Amman</option>
            <option value="Europe/Athens">(GMT+02:00) Athens, Bucharest, Istanbul</option>
            <option value="Asia/Beirut">(GMT+02:00) Beirut</option>
            <option value="Africa/Cairo">(GMT+02:00) Cairo</option>
            <option value="Africa/Harare">(GMT+02:00) Harare, Pretoria</option>
            <option value="Europe/Helsinki">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
            <option value="Asia/Jerusalem">(GMT+02:00) Jerusalem</option>
            <option value="Europe/Minsk">(GMT+02:00) Minsk</option>
            <option value="Africa/Windhoek">(GMT+02:00) Windhoek</option>
            <option value="Asia/Kuwait">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
            <option value="Europe/Moscow">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
            <option value="Africa/Nairobi">(GMT+03:00) Nairobi</option>
            <option value="Asia/Tbilisi">(GMT+03:00) Tbilisi</option>
            <option value="Asia/Tehran">(GMT+03:30) Tehran</option>
            <option value="Asia/Muscat">(GMT+04:00) Abu Dhabi, Muscat</option>
            <option value="Asia/Baku">(GMT+04:00) Baku</option>
            <option value="Asia/Yerevan">(GMT+04:00) Yerevan</option>
            <option value="Asia/Kabul">(GMT+04:30) Kabul</option>
            <option value="Asia/Yekaterinburg">(GMT+05:00) Yekaterinburg</option>
            <option value="Asia/Karachi">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
            <option value="Asia/Calcutta">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
            <option value="Asia/Calcutta">(GMT+05:30) Sri Jayawardenapura</option>
            <option value="Asia/Katmandu">(GMT+05:45) Kathmandu</option>
            <option value="Asia/Almaty">(GMT+06:00) Almaty, Novosibirsk</option>
            <option value="Asia/Dhaka">(GMT+06:00) Astana, Dhaka</option>
            <option value="Asia/Rangoon">(GMT+06:30) Yangon (Rangoon)</option>
            <option value="Asia/Bangkok">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
            <option value="Asia/Krasnoyarsk">(GMT+07:00) Krasnoyarsk</option>
            <option value="Asia/Hong_Kong">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
            <option value="Asia/Kuala_Lumpur">(GMT+08:00) Kuala Lumpur, Singapore</option>
            <option value="Asia/Irkutsk">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
            <option value="Australia/Perth">(GMT+08:00) Perth</option>
            <option value="Asia/Taipei">(GMT+08:00) Taipei</option>
            <option value="Asia/Tokyo">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
            <option value="Asia/Seoul">(GMT+09:00) Seoul</option>
            <option value="Asia/Yakutsk">(GMT+09:00) Yakutsk</option>
            <option value="Australia/Adelaide">(GMT+09:30) Adelaide</option>
            <option value="Australia/Darwin">(GMT+09:30) Darwin</option>
            <option value="Australia/Brisbane">(GMT+10:00) Brisbane</option>
            <option value="Australia/Canberra">(GMT+10:00) Canberra, Melbourne, Sydney</option>
            <option value="Australia/Hobart">(GMT+10:00) Hobart</option>
            <option value="Pacific/Guam">(GMT+10:00) Guam, Port Moresby</option>
            <option value="Asia/Vladivostok">(GMT+10:00) Vladivostok</option>
            <option value="Asia/Magadan">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
            <option value="Pacific/Auckland">(GMT+12:00) Auckland, Wellington</option>
            <option value="Pacific/Fiji">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
            <option value="Pacific/Tongatapu">(GMT+13:00) Nuku'alofa</option>
        </select>
    </div>
    <div class="col-12 col-md-6 col-xl-3 align-self-center form-group">
        <!-- Update branch -->
        <label>Update Branch</label>
        <select class="systemSetting form-control" data-object="SystemData" data-property="UpdateBranch">
            <option value="main">Main</option>
            <option value="dev">Dev</option>
        </select>
    </div>
    <!-- Theme -->
    <div class="col-12 col-md-6 col-xl-3 mt-2 mb-2 align-self-center form-group">
        <label class="form-label">UI Theme</label>
        <select class="form-control" data-object="SystemData" data-property="Theme">
            <option value="light">Light</option>
            <option value="dark">Dark</option>
        </select>
    </div>
    <!-- Auto-update -->
    <div class="col-12 col-md-6 col-xl-3 mt-2 mb-2 align-self-center form-check">
        <label class="form-check-label">Automatically Install Updates</label>
        <input type="checkbox" class="form-check-input" data-object="SystemData" data-property="AutoUpdate"/>
        <div class="form-text">Updates will be installed at 1:00AM every day when enabled.</div>
    </div>
    <!-- Auto-update -->
    <div class="col-12 col-md-6 col-xl-3 mt-2 mb-2 align-self-center form-check">
        <label class="form-check-label">Automatically Disable Streaming</label>
        <input type="checkbox" class="form-check-input" data-object="SystemData" data-property="EnableAutoDisable"/>
        <div class="form-text">Automatically disable control of lights when no input is detected.</div>
    </div>
</div>

<!-- Capture Mode -->
<div class="row border justify-content-center pb-5">
    <div class="col-12 headerCol">Capture Preferences</div>
    <div class="col-12 col-md-6 col-xl-3">
        <label class="form-label">Capture Mode</label>
        <select class="form-control" data-object="SystemData" data-property="CaptureMode">
            <option value="0">DreamScreen</option>
            <option value="1">Camera</option>
            <option value="2">HDMI</option>
            <option value="3">Screen Capture</option>
        </select>
        <div class="form-text">Select your desired input source.</div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 capGroup form-group" id="UsbSelectRow">
        <label class="form-label">USB Selection</label>
        <select class="form-control" data-object="SystemData" data-property="UsbSelection" id="UsbSelect">
            <option value=""></option>
        </select>
    </div>
    <div class="col-12 col-md-6 col-xl-3 capGroup form-group" data-mode="0">
        <label class="form-label">Target DreamScreen</label>
        <select id="targetDs" class="form-control" data-object="SystemData" data-property="DsIp">
            <option value=""></option>
        </select>
    </div>
    <div class="col-12 col-md-6 col-xl-3 capGroup" data-mode="1">
        <label class="form-label">Camera Type</label>
        <select class="form-control" data-object="SystemData" data-property="CamType">
            <option value="0">Raspberry Pi Camera</option>
            <option value="1">USB Web Camera</option>
        </select>
    </div>
    
    <div class="col-12 col-md-6 col-xl-3 capGroup" data-mode="3" id="CapModeSelectRow">
        <label class="form-label">Screen Capture Mode</label>
        <select class="form-select" data-object="SystemData"
                data-property="ScreenCapMode" id="ScreenCapMode">
            <option value="0">Region</option>
            <option value="1">Monitor</option>
        </select>
        <div class="form-text">Select the screen capture mode.</div>
    </div>
    
    <div class="col-12 col-md-6 col-xl-3 capGroup" data-mode="3" id="MonitorSelectRow">
        <label class="form-label">Monitor Selection</label>
        <select class="form-select" multiple aria-label="multimonitor" data-object="SystemData"
                data-property="SelectedMonitors" id="monitorSelect">
        </select>
        <div class="form-text">Select the target monitor(s) to capture.</div>
    </div>
    
    <div class="col-12 col-md-9 capGroup" data-mode="3" id="RegionSelectRow">
            <label class="form-label">Region Selection</label>
        <div id="RegionSelect">
            <img class="img-fluid" src="/img/_preview_screen.jpg" alt="Screen Preview" id="croppr"></img>
        </div>
            <div class="form-text">Select the target region to capture.</div>
        </div>
    
    <div class="col-12 col-md-6 col-xl-3 capGroup" data-mode="2">

    </div>
    
</div>
<!-- Capture Preview -->
<div class="row border justify-content-center pb-5">
    <div class="col-12 headerCol">Preview</div>
    <div class="col-6">
        <div class="col-12 titleCol">Input</div>
        <div class="col-12">
            <img id="inputPreview" class="prevImg img-fluid" alt="Input preview." src="~/img/no_preview.jpg"/>
        </div>
    </div>
    <div class="col-6">
        <div class="col-12 titleCol">Output</div>
        <div class="col-12">
            <img id="outputPreview" class="prevImg img-fluid" alt="Output preview." src="~/img/no_preview.jpg"/>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 form-group">
        <label class="form-label">Preview Mode</label>
        <select data-object="SystemData" data-property="PreviewMode" class="form-control">
            <option value="0">None</option>
            <option value="1">LED</option>
            <option value="2">Sectors</option>
        </select>
    </div>
</div>

<div class="row border justify-content-center pb-5">
    <div class="col-12 titleCol">LED Counts</div>
    <div class="col-12 form-text">Enter the total number of LEDs around the perimerter of your screen.</div>
    <!-- Top count -->
    <div class="col-5"></div>
    <div class="col-2 align-self-center">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="ledCountTop">Top</span>
            </div>
            <input type="text" class="form-control ledCount" data-property="TopCount" data-object="SystemData" aria-label="Top" aria-describedby="ledCountTop">
        </div>
    </div>
    <div class="col-5"></div>
    <!-- Left count -->
    <div class="col-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="ledCountLeft">Left</span>
            </div>
            <input type="text" class="form-control ledCount" data-property="LeftCount" data-object="SystemData" aria-label="Left" aria-describedby="ledCountLeft">
        </div>
    </div>
    <!-- Preview -->
    <div class="col-6" id="sLedPreview">
        <img id="ledImage" class="img-fluid" src="~/img/sectoring_screen.png" alt="ledImage">
    </div>
    <!-- Right count -->
    <div class="col-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="ledCountRight">Right</span>
            </div>
            <input type="text" class="form-control ledCount" data-property="RightCount" data-object="SystemData" aria-label="Right" aria-describedby="ledCountRight">
        </div>
    </div>
    <div class="col-5"></div>
    <!-- Bottom count -->
    <div class="col-2 align-self-center">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="ledCountBottom">Bottom</span>
            </div>
            <input type="text" class="form-control ledCount" data-property="BottomCount" data-object="SystemData" aria-label="Bottom" aria-describedby="ledCountBottom">
        </div>
    </div>
    <div class="col-5"></div>
</div>

<div class="row border justify-content-center pb-5">
    <div class="col-12 titleCol">Sector Counts</div>
    <div class="col-12 form-text">Enter the number of vertical and horizontal sectors. You will need to re-map your sectors for devices after this.</div>
    <!-- Top count -->
    <div class="col-5"></div>
    <div class="col-2 align-self-center">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="hSectorCount">Horizontal</span>
            </div>
            <input type="text" class="form-control ledCount" data-property="HSectors" data-object="SystemData" aria-label="Top" aria-describedby="ledCountTop">
        </div>
    </div>
    <div class="col-5"></div>
    <!-- Left count -->
    <div class="col-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="vSectorCount">Vertical</span>
            </div>
            <input type="text" class="form-control ledCount" data-property="VSectors" data-object="SystemData" aria-label="Left" aria-describedby="ledCountLeft">
        </div>
    </div>
    <!-- Preview -->
    <div class="col-6" id="sectorPreview">
        <img id="sectorImage" class="img-fluid" src="~/img/sectoring_screen.png" alt="ledImage">
    </div>
    
</div>
<div class="row border justify-content-center pb-5">
    <div class="col-12 titleCol">OpenRGB</div>
    <div class="col-12 form-text">Enter the IP Address and port of your OpenRGB Server.</div>
    <div class="col-12 col-md-6 col-xl-3 form-group">
        <label class="form-label">IP Address</label>
        <input type="text" class="form-control" data-object="SystemData" data-property="OpenRgbIp" id="OpenRgbIp"/>
    </div>
     <div class="col-12 col-md-6 col-xl-3 form-group">
        <label class="form-label">Port</label>
        <input type="text" class="form-control" data-object="SystemData" data-property="OpenRgbPort" id="OpenRgbPort"/>
     </div>    
</div>
</div>
</div>
</div>
<div class="tab-pane fade" id="audioTab" role="tabpanel" aria-labelledby="audio-tab">
    <div class="container-fluid">
        <div class="row border justify-content-center pb-5">
            <div class="col-12 headerCol">Music Mode</div>
            <div class="col-12 col-md-6 col-xl-3 justify-content-center form-group">
                <label class="form-label">Input Device</label>
                <select class="form-control" data-object="SystemData" data-property="RecDev" id="RecDev">

                </select>
            </div>
        </div>
        <div class="row border justify-content-center pb-5">
            <div class="col-12 col-md-6 col-xl-3 justify-content-center form-group">
                <label class="form-label">Sector Map</label>
                <select class="form-control" data-object="SystemData" data-property="AudioMap">
                    <option value="0">Bottom</option>
                    <option value="1">Top</option>
                    <option value="2">Center</option>
                    <option value="3">Middle</option>
                    <option value="4">Corners</option>
                </select>
                <img class="img-fluid" id="audioMapImg" alt="Audio Map Image" src=""/>
            </div>
            <div class="col-12 col-md-6 col-xl-3 justify-content-center form-group">
                <div class="col-12 justify-content-center form-group">
                    <label class="form-label">Rotation Speed</label>
                    <input class="form-control" data-object="SystemData" data-property="AudioRotationSpeed" type="number" min=".99" max=".99" step=".01"/>
                </div>
                <div class="col-12 justify-content-center form-group">
                    <label class="form-label">Rotation Sensitivity</label>
                    <input class="form-control" data-object="SystemData" data-property="AudioRotationSensitivity" type="number" min="-.99" max=".99" step=".01"/>
                </div>
                <div class="col-12 justify-content-center form-group">
                    <label class="form-label">Rotation Lower Limit</label>
                    <input class="form-control" data-object="SystemData" data-property="AudioRotationLower" type="number" min="0" max="1" step=".01"/>
                </div>
                <div class="col-12 justify-content-center form-group">
                    <label class="form-label">Rotation Upper Limit</label>
                    <input class="form-control" data-object="SystemData" data-property="AudioRotationUpper" type="number" min="0" max="1" step=".01"/>
                </div>
                <div class="col-12 justify-content-center form-group">
                    <label class="form-label">Audio Gain</label>
                    <input class="form-control" data-object="SystemData" data-property="AudioGain" type="number" min="0" max="5" step=".1"/>
                </div>
                <div class="col-12 justify-content-center form-group">
                    <label class="form-label">Low Audio Cutoff</label>
                    <input class="form-control" data-object="SystemData" data-property="AudioMin" type="number" min="0" max=".1" step=".001"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="systemTab" role="tabpanel" aria-labelledby="system-tab">...</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<nav class="container-fluid fixed-bottom" id="footer">
    <div class="fixed-bottom">
        <div id="tempDiv" class="d-inline-block">
            <span class="material-icons d-inline-block statIcon">toys</span>
            <div id="temperature" class="d-inline-block mb-2"></div>
        </div>
        <div id="cpuDiv" class="d-inline-block">
            <span class="material-icons d-inline-block statIcon">multiline_chart</span>
            <div id="cpuPct" class="d-inline-block mb-2"></div>
        </div>
        <div id="throttleDiv" class="d-inline-block">
            <span class="material-icons d-inline-block statIcon" id="overIcon"></span>
        </div>
    </div>
    <div class="btn btn-clear float-right refreshBtn">
        <span class="material-icons fs-1">refresh</span>
    </div>
</nav>
<div class="modal" tabindex="-1" id="nanoModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select a sector</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Click on the sector to map to a panel.</p>
                <div class="nanoPreviewWrap" id="nanoPreviewWrap">
                    <img id="nanoPreview" class="img-fluid" src="~/img/sectoring_screen.png" alt="It's sexy time, baby."/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="errorModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Socket connection lost!</h5>
            </div>
            <div class="modal-body">
                <p>The connection to the glimmr websocket was lost. Automatically attempting to reconnect in 5 seconds.</p>
                <p>Otherwise, you can try <a href="">reloading the page</a>.</p>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>