text > * {
    color: white;
}

.text-muted {
    color: #8f8f8f !important;
}


.bg-light, .bg-light * {
    background: #1c1c1c !important;
}

body, div:not(.sector):not(#ledMap):not(.bg-light):not(.btn-clear), .nav-link {
    color: #c4c4c4 !important;
    background: #232323;    
}

.btn-outline-secondary {
    color: #c4c4c4;
    border-color: #d7d7d7;
}

div.btn-clear {
    color: #c4c4c4;
    background: #232323;
}

div.btn-clear:hover {
    color: #ffffff !important;
}

.input-group-text {
    background-color: #212529;
    color: #e9ecef;
}

