.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.devCard {
    width: 18rem;
}

.deviceIcon {
    width: 60px;
    height: 60px;
}

.settingBtn {
    width: 60px;
}

.fs-1 {
    font-size: 5rem;
}

.statIcon {
    position: relative;
    top: 5px;
}

.btn-clear.active {
    color: white;
    background-color: black;
}

.btn-clear.btn-lg, .btn-clear.btn-lg > span {
    font-size: 30px;
}

.btn-clear.active.dark {

}

.hide {
    height: 0!important;
    transition: height 0.4s linear;
    overflow: hidden !important;
}

#mainContent {
    overflow-y: scroll;
    overflow-x: hidden;
}

.col-* {
    min-width: 25px;
}